<masonry [useImagesLoaded]="true" [options]="{ gutter: 10 }">
  <masonry-brick class="brick" *ngFor="let artwork of _artworks">
    <div class="cover">
      <h3><a
        href={{artwork._links.permalink.href}}
        *ngIf="artwork._links.permalink.href"
        target="_blank">
          {{artwork.title}}
        </a></h3>
      <p class="link" (click)="getArtworksById(artwork.artistId, 'artist')" *ngIf="artwork.artistName">{{artwork.artistName}}</p>
      <p class="link" (click)="getSimilarArtworks(artwork._links.similar_artworks.href)">Simlilar Works</p>
      <p class="link" (click)="showGenes ? showGenes = false : showGenes = true;">Genes</p>
      <div *ngIf="showGenes" class="genes">
        <p class="link" *ngFor="let gene of artwork.genes" (click)="getArtworksById(gene.id, 'gene')">{{gene.name}}</p>
      </div>
    </div>
    <img src="{{getFormattedImageUrl(artwork)}}">
  </masonry-brick>
</masonry> 