<masonry [useImagesLoaded]="true" [options]="{ gutter: 10 }">
  <masonry-brick class="brick" *ngFor="let artwork of _artworks">
    <div class="cover">
      <h3><a
        href={{artwork._links.permalink.href}}
        *ngIf="artwork._links.permalink.href"
        target="_blank">
          {{artwork.title}}
        </a></h3>
      <a href={{artwork.artistHref}} *ngIf="artwork.artistHref" target="_blank">{{artwork.artistName}}</a><br>
      <p class="link" (click)="getSimilarArtworks(artwork._links.similar_artworks.href)">Simlilar Works</p>
    </div>
    <img src="{{getFormattedUrl(artwork)}}">
  </masonry-brick>
</masonry> 