/* You can add global styles to this file, and also import other style files */
body {
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}